<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Users</h1>
    <p class="mb-4">Those are the users we have signed up in database.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-dark">Users</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting sorting_asc w100">Image</th>
                                        <th class="sorting">Name</th>
                                        <th class="sorting">Lastname</th>
                                        <th class="sorting">Email</th>
                                        <th class="sorting">Role</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th rowspan="1" colspan="1">Image</th>
                                        <th rowspan="1" colspan="1">Name</th>
                                        <th class="sorting">Lastname</th>
                                        <th class="sorting">Email</th>
                                        <th class="sorting">Role</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr *ngFor="let user of users" class="odd">
                                        <td class="text-center"><img class="avatar" [src]="user!.image! | image: 'user'" [alt]="user.name"></td>
                                        <td>{{ user.name }}</td>
                                        <td>{{ user.lastname }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.role }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>